maxretry = 5
retrydelay = 5

[local_monitor]
password = {{ ups_slave_password }}
upsmon master
{% for server in groups['all'] %}

[{{ hostvars[server]['ansible_hostname'] }}]
password = {{ ups_slave_password }}
{% endfor %}