apiVersion: v1
kind: Secret
metadata:
  name: sealed-secrets-key
  namespace: kube-system
type: kubernetes.io/tls
data:
  tls.crt: |
    {{ sealed_secrets.public_key | b64encode | indent(4) }}
    
  tls.key: |
    {{ sealed_secrets.private_key | b64encode | indent(4) }}