#!/usr/bin/env bash

set -e

apt-get update
apt-get install -y sudo

# Enable passwordless sudo
sed -i -E 's/%sudo\s+ALL=\(ALL:ALL\)\s+ALL/%sudo   ALL=(ALL:ALL) NOPASSWD: ALL/' /etc/sudoers

{% for user in users_admin_users %}
# Create user {{ user.username }}
adduser --disabled-password --gecos GECOS {{ user.username }}
usermod -a -G sudo {{ user.username }}

# Create .ssh directory
mkdir /home/{{ user.username }}/.ssh
chown {{ user.username }} /home/{{ user.username }}/.ssh
chgrp {{ user.username }} /home/{{ user.username }}/.ssh
chmod 0700 /home/{{ user.username }}/.ssh

# Configure public keys
echo "" > /home/{{ user.username }}/.ssh/authorized_keys
{% for public_key in user.public_keys %}
echo "{{ public_key }}" >> /home/{{ user.username }}/.ssh/authorized_keys
{% endfor %}
{% endfor %}

# Add allowed ssh users
SSH_ALLOWED_USERS="AllowUsers {{ ssh_allowed_users | join(' ') }}"
grep -q "AllowedUsers " /etc/ssh/sshd_config || echo "$SSH_ALLOWED_USERS" >> /etc/ssh/sshd_config

# Apply sshd changes
systemctl restart sshd

# Mark container init as finished
touch /etc/container-init