apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: index
  namespace: argo-cd
spec:
  project: default

  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd

  source:
    repoURL: {{ argocd_git_repository_url }}
    targetRevision: {{ argocd_git_ref }}
    path: apps/_index

    helm:
      releaseName: index
      
      parameters:
        - name: source.repoUrl
          value: $ARGOCD_APP_SOURCE_REPO_URL
        - name: source.targetRevision
          value: $ARGOCD_APP_SOURCE_TARGET_REVISION
        - name: environmentName
          value: {{ argocd_environment }}

      valueFiles:
        - values.apps.yml
        - values.{{ argocd_environment }}.yml

  syncPolicy:
    automated:
      selfHeal: true
      prune: true