apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ argocd_project.name }}
  namespace: {{ argocd_namespace }}
spec:
  sourceRepos:
  - '{{ argocd_git_repository_url }}'
  destinations:
{% for namespace in argocd_project.destination_namespaces %}
  - namespace: '{{ namespace }}'
    server: 'https://kubernetes.default.svc'
{% endfor %}
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
