apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: well-known
  namespace: metallb-system
spec:
  addresses:
    - "{{ k3s_services_external_reserved_ip_range }}"
  autoAssign: false
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: transient
  namespace: metallb-system
spec:
  addresses:
    - "{{ k3s_services_external_ip_range }}"
  autoAssign: true