apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    dashboard:
      enabled: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    resources:
      requests:
        cpu: "{{ k3s_cluster_traefik_cpu_request }}"
        memory: "{{ k3s_cluster_traefik_memory_request }}"
      limits:
        cpu: "{{ k3s_cluster_traefik_cpu_limit }}"
        memory: "{{ k3s_cluster_traefik_memory_limit }}"
    service:
      annotations:
        metallb.universe.tf/address-pool: "well-known"
        metallb.universe.tf/loadBalancerIPs: "{{ k3s_cluster_traefik_ip_address }}"
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
      readOnlyRootFilesystem: true
      runAsGroup: 65532
      runAsNonRoot: true
      runAsUser: 65532