apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: cert-manager-allow-inbound-webhook
  namespace: cert-manager
spec:
  podSelector: 
    matchLabels:
      app: webhook
  ingress:
    - from: # Allow calls from Kube API
{% for node in groups['k8s_nodes'] %}
        - ipBlock:
            cidr: {{ hostvars[node].ansible_host }}/32
{% endfor %}
  policyTypes:
  - Ingress