gluster volume create {{ gluster_volume_config.name }} replica {{ gluster_volume_config.replicas }} arbiter {{ gluster_volume_config.arbiters }} {% for storage_brick in gluster_volume_config.storage_bricks -%} {{ hostvars[storage_brick.host].gluster_hostname }}:{{ storage_brick.path }} {% endfor %} {% for arbiter_brick in gluster_volume_config.arbiter_bricks %} {{ hostvars[arbiter_brick.host].gluster_hostname }}:{{ arbiter_brick.path }} {% endfor %} force