{%- for host in groups['all'] %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].ansible_hostname }}.{{ domain }}
{% endfor %}

{% for host in groups['all'] %}
{% for record in hostvars[host].app_pihole_records | default([]) %}
{% if record.type == "pomerium_proxy" %}
{{ hostvars['pomerium'].ansible_host }} {{ record.hostname }}.{{ domain }}
{% elif record.type == "ansible_host" %}
{{ hostvars[host].ansible_host }} {{ record.hostname }}.{{ domain }}
{% else %}
{{ record.value }} {{ record.hostname }}.{{ domain }}
{% endif %}
{% endfor %}
{% endfor %}