{%- if rule.enabled | default(true) == false %}|{% endif -%}
{%- if rule.type | default("") | lower == "group" %}
GROUP {{ rule.name }}
    {{- lookup('template', 'partials/interface.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
{%- elif rule.type | default("") | lower == "macro" %}
    {{- rule.direction | upper }}
    {{- rule.name }}({{ rule.action | upper }})
    {{- lookup('template', 'partials/source.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/destination.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/interface.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/log.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
{%- else %}
    {{- rule.action | upper }}
    {{- lookup('template', 'partials/source.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/destination.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/protocol.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/source-port.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/destination-port.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/interface.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
    {{- lookup('template', 'partials/log.j2', template_vars=dict(rule=rule, default_scope=default_scope)) }}
{%- endif -%}