tunnel: "{{ app_cloudflared_tunnel_credentials.tunnel_id }}"
credentials-file: /etc/cloudflared/tunnel-credentials.json

ingress:
    {% for route in app_cloudflared_routes | default([]) %}
    - hostname: {{ route.hostname }}
      service: {{ route.backend }}
      originRequest:
          noTLSVerify: true
    {% endfor %}

    - hostname: {{ app_cloudflared_healthcheck_hostname }}
      service: http_status:204

    - service: http_status:404