{
    "AccountTag": "{{ app_cloudflared_tunnel_credentials.account_id }}",
    "TunnelSecret":"{{ app_cloudflared_tunnel_credentials.tunnel_secret | b64encode }}",
    "TunnelID": "{{ app_cloudflared_tunnel_credentials.tunnel_id }}"
}