apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: {{ repo.name }}
  namespace: {{ repo.namespace | default('flux-system') }}
spec:
  interval: {{ repo.interval | default('5m0s') }}
  url: {{ repo.url }}
  ref:
    branch: {{ repo.branch }}
  path: {{ repo.path }}
