authenticate_service_url: https://{{ app_pomerium_hostname }}

autocert: true
autocert_email: {{ app_pomerium_letsencrypt_email }}
autocert_use_staging: {{ app_pomerium_letsencrypt_use_staging }}

idp_provider: {{ app_pomerium_idp_provider }}
idp_provider_url: '{{ app_pomerium_idp_provider_url }}'
idp_client_id: {{ app_pomerium_idp_client_id }}
idp_client_secret: {{ app_pomerium_idp_client_secret }}

cookie_secret: {{ app_pomerium_cookie_secret }}

# TODO: metrics_address: :9090

routes:
  - from: https://google-lab.homecentr.one
    to: https://google.com
    pass_identity_headers: false