services:
  gatus:
    container_name: gatus
    image: twinproduction/gatus:{{ app_gatus_image_tag }}
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - /var/gatus:/var/gatus
      - /etc/gatus/config.yaml:/config/config.yaml:ro
