version: "3.9"
services:
  gatus:
    container_name: gatus
    image: twinproduction/gatus:{{ app_gatus_image_tag }}
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - /etc/gatus/config.yaml:/config/config.yaml
      - /var/lib/gatus:/var/lib/gatus

# TODO: Mount directory with metrics state