services:
  haraka:
    container_name: haraka
    image: homecentr/haraka-relay:{{ app_haraka_image_tag }}
    restart: unless-stopped
    ports:
      - "25:2525"
      - "9904:9904"
    volumes:
      - /getssl/wildcard_fullchain.crt:/haraka/config/tls_cert.pem:ro
      - /getssl/wildcard.key:/haraka/config/tls_key.pem:ro
      - /etc/haraka/auth_flat_file.ini:/haraka/config/auth_flat_file.ini:ro
      - /etc/haraka/relay_via_external.ini:/haraka/config/relay_via_external.ini:ro