apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: monitoring-allow-internal
  namespace: monitoring
spec:
  ingress:
  - from:
    podSelector: {}
  egress:
  - to:
    - podSelector: {}
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress