apiVersion: v1
kind: Secret
metadata:
  name: sops
  namespace: argo-cd
type: kubernetes.io/tls
data:
  tls.crt: |
    {{ argocd_sops.public_key | b64encode | indent(4) }}
    
  tls.key: |
    {{ argocd_sops.private_key | b64encode | indent(4) }}